.ks-crm-contacts-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex; }

.ks-crm-contacts-users-list-column {
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 360px; }

.ks-crm-contacts-user-view-column {
  background: #fff;
  min-width: 360px;
  border-left: 1px solid #dee0e1;
  position: fixed;
  top: 120px;
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
  right: 0; }

.ks-crm-contacts-users-list-column-header {
  padding: 30px 30px 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .ks-crm-contacts-users-list-column-header h3 {
    margin: 0; }
  .ks-crm-contacts-users-list-column-header .btn + .btn {
    margin-left: 10px; }

.ks-crm-contacts-users-list-column-table {
  margin-bottom: 0; }
  .ks-crm-contacts-users-list-column-table tr:last-child td {
    border-bottom: 1px solid #dee0e1; }

.ks-crm-contacts-users-list-column-table-header {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px; }

.ks-crm-contacts-user-view-column-user-info-container {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #dee0e1; }

.ks-crm-contacts-user-view-column-user-info {
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex; }
  .ks-crm-contacts-user-view-column-user-info > .ks-avatar {
    margin-right: 15px; }

.ks-crm-contacts-user-view-column-user-info-name {
  font-size: 14px;
  font-weight: 500; }

.ks-crm-contacts-user-view-column-user-info-description {
  font-size: 12px;
  margin-bottom: 5px; }

.ks-crm-contacts-user-view-column-user-info-controls {
  margin-top: 15px; }
  .ks-crm-contacts-user-view-column-user-info-controls .btn + .btn {
    margin-left: 10px; }

.ks-crm-contacts-user-view-column-user-contact-container {
  padding: 30px; }

.ks-crm-contacts-user-view-column-user-contact-section + .ks-crm-contacts-user-view-column-user-contact-section {
  margin-top: 30px; }

.ks-column-user-contact-section-header {
  font-size: 10px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 8px;
  text-transform: uppercase; }

.ks-column-user-contact-section-item {
  font-size: 12px; }
  .ks-column-user-contact-section-item > .ks-icon {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 2px; }
  .ks-column-user-contact-section-item + .ks-column-user-contact-section-item {
    margin-top: 8px; }

@media screen and (max-width: 980px) {
  .btn.ks-crm-contacts-user-view-column-toggle {
    position: static; }
  .ks-crm-contacts-users-list-column {
    margin-right: 0;
    width: 100%; }
  .ks-crm-contacts-user-view-column {
    right: -360px;
    z-index: 2;
    height: 100%;
    visibility: hidden; }
    .ks-crm-contacts-user-view-column.ks-open {
      visibility: visible;
      right: 0;
      -webkit-transition: right .2s ease;
      transition: right .2s ease; } }
