.ks-amount-widget {
  margin-bottom: 36px; }
  .ks-amount-widget > .card-block {
    padding: 15px 20px; }
    .ks-amount-widget > .card-block > .ks-amount {
      font-size: 36px; }
    .ks-amount-widget > .card-block > .ks-progress {
      margin-bottom: 20px; }
