.ks-widget-payment-simple-amount-item {
  min-height: 124px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-color: #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .ks-widget-payment-simple-amount-item .payment-simple-amount-item-icon-block {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 32px;
            border-radius: 32px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px; }
    .ks-widget-payment-simple-amount-item .payment-simple-amount-item-icon-block > .ks-icon {
      position: relative;
      left: 1px;
      color: #fff;
      font-size: 32px; }
    .ks-widget-payment-simple-amount-item .payment-simple-amount-item-icon-block > [class*="ks-icon-"] {
      font-size: 24px; }
  .ks-widget-payment-simple-amount-item .payment-simple-amount-item-amount {
    margin-bottom: 7px; }
    .ks-widget-payment-simple-amount-item .payment-simple-amount-item-amount > .ks-amount {
      font-size: 24px;
      font-weight: 600;
      display: inline-block;
      margin-right: 16px; }
    .ks-widget-payment-simple-amount-item .payment-simple-amount-item-amount > .ks-amount-icon {
      font-size: 18px;
      -webkit-transform: rotate(-360deg);
          -ms-transform: rotate(-360deg);
              transform: rotate(-360deg); }
  .ks-widget-payment-simple-amount-item .payment-simple-amount-item-description {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500; }
    .ks-widget-payment-simple-amount-item .payment-simple-amount-item-description > .ks-progress-type {
      font-weight: 600; }
  .ks-widget-payment-simple-amount-item.ks-purple .payment-simple-amount-item-icon-block {
    background-color: #4e54a8; }
  .ks-widget-payment-simple-amount-item.ks-purple .ks-amount-icon, .ks-widget-payment-simple-amount-item.ks-purple .ks-progress-type {
    color: #4e54a8; }
  .ks-widget-payment-simple-amount-item.ks-green .payment-simple-amount-item-icon-block {
    background-color: #81c159; }
  .ks-widget-payment-simple-amount-item.ks-green .ks-amount-icon, .ks-widget-payment-simple-amount-item.ks-green .ks-progress-type {
    color: #81c159; }
  .ks-widget-payment-simple-amount-item.ks-pink .payment-simple-amount-item-icon-block {
    background-color: #df538b; }
  .ks-widget-payment-simple-amount-item.ks-pink .ks-amount-icon, .ks-widget-payment-simple-amount-item.ks-pink .ks-progress-type {
    color: #df538b; }
  .ks-widget-payment-simple-amount-item.ks-orange .payment-simple-amount-item-icon-block {
    background-color: #f88528; }
  .ks-widget-payment-simple-amount-item.ks-orange .ks-amount-icon, .ks-widget-payment-simple-amount-item.ks-orange .ks-progress-type {
    color: #f88528; }

.ks-widget-payment-card-rate-details .card-block {
  padding-top: 0;
  padding-bottom: 20px; }
  .ks-widget-payment-card-rate-details .card-block .ks-card-widget-datetime {
    margin-bottom: 20px; }

.ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table {
  margin: 0;
  width: 100%; }
  .ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table td {
    font-size: 14px;
    padding-bottom: 8px; }
    .ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table td.ks-currency {
      padding-left: 0; }
      .ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table td.ks-currency > .ks-flag {
        margin-top: -3px;
        margin-right: 10px;
        display: inline-block; }
    .ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table td.ks-amount {
      padding-right: 0;
      width: 1px;
      font-weight: 600;
      text-align: right; }
  .ks-widget-payment-card-rate-details .ks-payment-card-rate-details-table tr:first-child td {
    border-top: none; }

.ks-widget-payment-earnings .ks-payment-earnings-chart {
  height: 155px;
  margin-left: -36px;
  margin-right: -36px;
  margin-bottom: -39px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .ks-widget-payment-earnings .ks-payment-earnings-chart .c3-line {
    stroke-width: 2px; }

.ks-widget-payment-earnings .ks-payment-earnings-amount {
  font-size: 36px;
  font-weight: 500;
  color: #171717;
  margin-bottom: 12px; }

.ks-widget-payment-earnings .ks-payment-earnings-amount-description {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(23, 23, 23, 0.8);
  margin-bottom: 22px; }

.ks-widget-payment-budget .card-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ks-widget-payment-budget .ks-thumbnail {
  display: block; }

.ks-widget-payment-budget .ks-card-widget-datetime {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

.ks-widget-payment-budget .ks-payment-budget-amount-block > .ks-text-action,
.ks-widget-payment-budget .ks-payment-budget-remaining-block > .ks-text-action {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px; }

.ks-widget-payment-budget .ks-payment-budget-amount-block > .ks-description,
.ks-widget-payment-budget .ks-payment-budget-remaining-block > .ks-description {
  font-size: 12px;
  color: #858585; }

.ks-widget-payment-price-ratio {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
  padding: 31px 35px;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .ks-widget-payment-price-ratio .ks-price-ratio-title {
    font-size: 10px;
    font-weight: 500;
    color: rgba(23, 23, 23, 0.8);
    text-transform: uppercase;
    margin-bottom: 17px; }
  .ks-widget-payment-price-ratio .ks-price-ratio-amount {
    color: #171717;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px; }
  .ks-widget-payment-price-ratio .ks-price-ratio-progress {
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex; }
    .ks-widget-payment-price-ratio .ks-price-ratio-progress > .ks-icon {
      font-size: 18px;
      display: inline-block;
      margin-right: 7px; }
  .ks-widget-payment-price-ratio.ks-green {
    background-color: rgba(129, 193, 89, 0.15); }
    .ks-widget-payment-price-ratio.ks-green .ks-price-ratio-progress {
      color: #81c159; }
  .ks-widget-payment-price-ratio.ks-purple {
    background-color: rgba(223, 82, 139, 0.1); }
    .ks-widget-payment-price-ratio.ks-purple .ks-price-ratio-progress {
      color: #df538b; }
  .ks-widget-payment-price-ratio.ks-blue {
    background-color: #eff1fc; }
    .ks-widget-payment-price-ratio.ks-blue .ks-price-ratio-progress {
      color: #4e54a8; }
  .ks-widget-payment-price-ratio.ks-yellow {
    background-color: rgba(248, 238, 62, 0.2); }
    .ks-widget-payment-price-ratio.ks-yellow .ks-price-ratio-progress {
      color: #f88528; }

.ks-widget-payment-table-invoicing .ks-payment-table-invoicing {
  margin-top: 20px;
  margin-bottom: 0; }
  .ks-widget-payment-table-invoicing .ks-payment-table-invoicing tr:first-child td {
    border-top: none; }
  .ks-widget-payment-table-invoicing .ks-payment-table-invoicing td {
    padding-bottom: 8px;
    font-size: 14px; }
    .ks-widget-payment-table-invoicing .ks-payment-table-invoicing td:first-child {
      padding-left: 0; }
    .ks-widget-payment-table-invoicing .ks-payment-table-invoicing td:last-child {
      padding-right: 0;
      text-align: right; }

.ks-widget-payment-table .ks-payment-table {
  margin-top: 20px;
  margin-bottom: 0; }
  .ks-widget-payment-table .ks-payment-table tr:first-child td {
    border-top: none; }
  .ks-widget-payment-table .ks-payment-table td {
    vertical-align: middle;
    padding-bottom: 8px;
    font-size: 14px; }
    .ks-widget-payment-table .ks-payment-table td:first-child {
      padding-left: 0; }
    .ks-widget-payment-table .ks-payment-table td:last-child {
      padding-right: 0;
      text-align: right; }
  .ks-widget-payment-table .ks-payment-table .ks-avatar {
    position: relative;
    margin-top: -2px;
    display: inline-block;
    margin-right: 10px; }

.ks-widget-chart-orders .ks-chart-orders-block {
  margin-left: -20px; }

.ks-widget-chart-orders .c3-line {
  stroke-width: 2px; }

.ks-widget-chart-orders .c3-axis-y .tick line, .ks-widget-chart-orders .c3-axis-x .tick line {
  opacity: 0; }

.ks-widget-chart-orders .c3-axis-y .domain, .ks-widget-chart-orders .c3-axis-x .domain {
  opacity: 0; }

.ks-widget-chart-orders .tick {
  font-size: 12px;
  fill: #858585; }

.ks-widget-chart-orders .c3-legend-item-event {
  font-size: 12px; }

.ks-widget-chart-orders .c3-ygrid-line line {
  stroke: rgba(57, 80, 155, 0.1); }

.ks-widget-payment-total-amount .card-block {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.ks-widget-payment-total-amount .ks-payment-total-amount-item-icon-block {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 32px;
          border-radius: 32px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px; }
  .ks-widget-payment-total-amount .ks-payment-total-amount-item-icon-block > .ks-icon {
    position: relative;
    left: 1px;
    color: #fff;
    font-size: 32px; }
  .ks-widget-payment-total-amount .ks-payment-total-amount-item-icon-block > [class*="ks-icon-"] {
    font-size: 24px; }

.ks-widget-payment-total-amount .ks-payment-total-amount-item-amount {
  margin-bottom: 7px;
  text-align: right; }
  .ks-widget-payment-total-amount .ks-payment-total-amount-item-amount > .ks-amount {
    font-size: 36px;
    font-weight: 600;
    display: inline-block; }

.ks-widget-payment-total-amount .ks-payment-total-amount-item-description {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right; }
  .ks-widget-payment-total-amount .ks-payment-total-amount-item-description > .ks-progress-type {
    font-weight: 600;
    text-align: right; }

.ks-widget-payment-total-amount.ks-purple-light .ks-payment-total-amount-item-icon-block {
  background-color: #eff1fc; }
  .ks-widget-payment-total-amount.ks-purple-light .ks-payment-total-amount-item-icon-block > .ks-icon {
    color: #4e54a8; }

.ks-widget-payment-total-amount.ks-green-light .ks-payment-total-amount-item-icon-block {
  background-color: rgba(129, 193, 89, 0.15); }
  .ks-widget-payment-total-amount.ks-green-light .ks-payment-total-amount-item-icon-block > .ks-icon {
    color: #81c159; }

.ks-widget-payment-total-amount.ks-pink-light .ks-payment-total-amount-item-icon-block {
  background-color: rgba(255, 61, 0, 0.1); }
  .ks-widget-payment-total-amount.ks-pink-light .ks-payment-total-amount-item-icon-block > .ks-icon {
    color: #df538b; }

.ks-widget-payment-total-amount.ks-orange-light .ks-payment-total-amount-item-icon-block {
  background-color: rgba(248, 238, 62, 0.2); }
  .ks-widget-payment-total-amount.ks-orange-light .ks-payment-total-amount-item-icon-block > .ks-icon {
    color: #f88528; }

.ks-payment-widget-table-and-map .card-block {
  padding-top: 20px;
  padding-bottom: 20px; }
  .ks-payment-widget-table-and-map .card-block .ks-card-widget-datetime {
    margin-bottom: 20px; }

.ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table {
  margin: 0;
  width: 100%; }
  .ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table td {
    font-size: 14px;
    padding-bottom: 8px; }
    .ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table td.ks-flag {
      padding-left: 0;
      padding-right: 0; }
      .ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table td.ks-flag > img {
        margin-top: -4px;
        margin-right: 10px;
        display: inline-block; }
    .ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table td.ks-amount {
      padding-right: 0;
      width: 20%;
      font-weight: 600;
      text-align: right; }
  .ks-payment-widget-table-and-map .ks-payment-widget-table-and-map-table tr:first-child td {
    border-top: none; }

.ks-widget-payment-active-clients .ks-card-widget-datetime {
  margin-bottom: 30px; }

.ks-widget-payment-active-clients .ks-active-clients-category-progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #858585;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px; }
  .ks-widget-payment-active-clients .ks-active-clients-category-progress .ks-name {
    font-weight: 500;
    color: #333;
    min-width: 50px; }
  .ks-widget-payment-active-clients .ks-active-clients-category-progress .progress {
    min-width: 180px;
    margin: 0 20px; }
  .ks-widget-payment-active-clients .ks-active-clients-category-progress + .ks-active-clients-category-progress {
    margin-top: 19px; }
  .ks-widget-payment-active-clients .ks-active-clients-category-progress + hr {
    margin-top: 26px; }
