.ks-order-page {
  margin: 30px 15px; }
  .ks-order-page.ks-compact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ks-order-page.ks-compact > .ks-info, .ks-order-page.ks-compact > .ks-details {
      width: 1000px; }
  .ks-order-page > .ks-info > .ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px; }
    .ks-order-page > .ks-info > .ks-header > .ks-status-paid {
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #4caf50;
      color: #fff;
      font-size: 12px;
      padding: 11px 15px;
      font-weight: 500; }
      .ks-order-page > .ks-info > .ks-header > .ks-status-paid > .ks-icon {
        display: inline-block;
        margin-right: 6px;
        font-size: 18px;
        position: relative;
        top: 2px; }
  .ks-order-page > .ks-info > .ks-body, .ks-order-page > .ks-info > .ks-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .ks-order-page > .ks-info > .ks-body > .ks-column > span, .ks-order-page > .ks-info > .ks-footer > .ks-column > span {
      display: block;
      margin-bottom: 4px;
      font-size: 14px; }
    .ks-order-page > .ks-info > .ks-body > .ks-column:last-child, .ks-order-page > .ks-info > .ks-footer > .ks-column:last-child {
      text-align: right; }
  .ks-order-page > .ks-info > .ks-footer {
    margin-top: 20px;
    margin-bottom: 40px; }
  .ks-order-page > .ks-details {
    margin-bottom: 20px; }
    .ks-order-page > .ks-details > .ks-table {
      width: 100%;
      margin-bottom: 40px; }
      .ks-order-page > .ks-details > .ks-table td {
        font-size: 14px;
        padding: 10px 20px; }
        .ks-order-page > .ks-details > .ks-table td.ks-unit-price, .ks-order-page > .ks-details > .ks-table td.ks-quantity, .ks-order-page > .ks-details > .ks-table td.ks-discounts {
          text-align: center; }
        .ks-order-page > .ks-details > .ks-table td.ks-subtotal {
          text-align: right; }
      .ks-order-page > .ks-details > .ks-table > h4 {
        margin-bottom: 20px; }
      .ks-order-page > .ks-details > .ks-table th {
        font-size: 12px;
        font-weight: 500;
        background-color: rgba(57, 80, 155, 0.05);
        padding: 10px 20px; }
        .ks-order-page > .ks-details > .ks-table th.ks-unit-price, .ks-order-page > .ks-details > .ks-table th.ks-quantity, .ks-order-page > .ks-details > .ks-table th.ks-discounts {
          text-align: center; }
        .ks-order-page > .ks-details > .ks-table th.ks-subtotal {
          text-align: right; }
    .ks-order-page > .ks-details > .ks-total {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex; }
      .ks-order-page > .ks-details > .ks-total > .ks-shipping-method {
        margin-right: 46px; }
        .ks-order-page > .ks-details > .ks-total > .ks-shipping-method > span {
          display: block;
          font-size: 14px; }
        .ks-order-page > .ks-details > .ks-total > .ks-shipping-method > .ks-header {
          color: #4caf50;
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 5px; }
      .ks-order-page > .ks-details > .ks-total > .ks-tracking-number {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .ks-order-page > .ks-details > .ks-total > .ks-tracking-number > span {
          display: block;
          font-size: 14px; }
        .ks-order-page > .ks-details > .ks-total > .ks-tracking-number > .ks-header {
          color: #4caf50;
          font-size: 12px;
          font-weight: 500;
          display: block;
          margin-bottom: 5px; }
      .ks-order-page > .ks-details > .ks-total > table {
        margin: 0; }
        .ks-order-page > .ks-details > .ks-total > table td {
          font-size: 14px;
          padding-bottom: 5px; }
          .ks-order-page > .ks-details > .ks-total > table td:first-child {
            width: 100px;
            color: #858585;
            font-size: 14px; }
          .ks-order-page > .ks-details > .ks-total > table td:last-child {
            text-align: right;
            padding-right: 20px; }
        .ks-order-page > .ks-details > .ks-total > table tr:first-child td {
          padding-top: 0; }

@media screen and (max-width: 800px) {
  .ks-order-page .ks-details .ks-table td.st-val {
    text-align: left; }
  .ks-order-page .ks-details .ks-table td.ks-subtotal {
    text-align: left; }
  .ks-order-page .ks-details .ks-table th.st-val {
    text-align: left; }
  .ks-order-page .ks-details .ks-table th.ks-subtotal {
    text-align: left; } }

@media screen and (max-width: 580px) {
  .ks-order-page > .ks-details .ks-total {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ks-order-page > .ks-details .ks-total > .ks-shipping-method {
      margin-right: 0;
      text-align: center; }
    .ks-order-page > .ks-details .ks-total > .ks-tracking-number {
      margin-top: 30px;
      text-align: center; }
    .ks-order-page > .ks-details .ks-total > table {
      margin-top: 30px; } }
