.ks-document-viewer .modal-dialog {
  width: 80%;
  height: 90%;
  max-width: 100%; }
  .ks-document-viewer .modal-dialog > .modal-content {
    height: 100%; }

.ks-document-viewer.ks-expanded {
  height: 100%; }
  .ks-document-viewer.ks-expanded .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0; }
  .ks-document-viewer.ks-expanded .modal-content {
    height: 100%; }
  .ks-document-viewer.ks-expanded .modal-header {
    position: relative;
    z-index: 1;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .ks-document-viewer.ks-expanded .modal-body {
    height: 100%;
    padding-top: 60px; }
    .ks-document-viewer.ks-expanded .modal-body .ks-image-content {
      margin-bottom: 40px; }

.ks-document-viewer .modal-header {
  height: 59px;
  border-bottom: 1px solid #dee0e1;
  padding: 12px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px; }
  .ks-document-viewer .modal-header > .ks-controls {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center; }
  .ks-document-viewer .modal-header .ks-modal-title-icon {
    font-size: 16px;
    display: inline-block;
    margin-right: 5px; }
  .ks-document-viewer .modal-header > .modal-title {
    font-size: 13px;
    font-weight: normal; }
  .ks-document-viewer .modal-header > .ks-extra-controls {
    text-align: right; }
  .ks-document-viewer .modal-header .ks-zoom, .ks-document-viewer .modal-header .ks-page-controls {
    width: 140px;
    margin: 0;
    margin-right: 10px; }
    .ks-document-viewer .modal-header .ks-zoom .form-control, .ks-document-viewer .modal-header .ks-page-controls .form-control {
      text-align: center; }
  .ks-document-viewer .modal-header .ks-rotate, .ks-document-viewer .modal-header .ks-download, .ks-document-viewer .modal-header .ks-print, .ks-document-viewer .modal-header .ks-remove {
    margin-right: 10px; }

.ks-document-viewer .modal-body {
  background-color: #f5f6fa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%; }
  .ks-document-viewer .modal-body > .ks-arrow {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #666; }
    .ks-document-viewer .modal-body > .ks-arrow > a {
      cursor: pointer;
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      padding: 5px 0;
      text-align: center; }
    .ks-document-viewer .modal-body > .ks-arrow.ks-left-arrow {
      margin-right: 20px; }
    .ks-document-viewer .modal-body > .ks-arrow.ks-right-arrow {
      margin-left: 20px; }
  .ks-document-viewer .modal-body .ks-image-content {
    text-align: center;
    padding: 30px; }
    .ks-document-viewer .modal-body .ks-image-content img {
      margin: 0 auto;
      max-width: 70%;
      -webkit-box-shadow: 0 2px 10px 0 #e6e6e6;
              box-shadow: 0 2px 10px 0 #e6e6e6; }
  .ks-document-viewer .modal-body.ks-document {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    padding: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .ks-document-viewer .modal-body.ks-document > .ks-thumbs {
      border-right: 1px solid #dee0e1;
      width: 140px;
      min-width: 140px;
      height: 100%; }
      .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul {
        padding: 20px;
        margin: 0;
        list-style: none; }
        .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page {
          margin-bottom: 22px; }
          .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page.ks-portrait > .ks-page-thumb {
            width: 100px;
            height: 129px; }
          .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page.ks-landscape > .ks-page-thumb {
            width: 100px;
            height: 57px; }
          .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page.ks-active .ks-page-thumb {
            border: solid 2px #42a5f5; }
          .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page.ks-active .ks-page-number {
            font-weight: bold; }
        .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page-thumb {
          display: block;
          background: #fff;
          -webkit-box-shadow: 0 2px 5px 0 #e6e6e6;
                  box-shadow: 0 2px 5px 0 #e6e6e6; }
        .ks-document-viewer .modal-body.ks-document > .ks-thumbs ul .ks-page-number {
          display: block;
          text-align: center;
          color: #333;
          font-size: 12px;
          margin-top: 8px; }
    .ks-document-viewer .modal-body.ks-document .ks-pages {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%; }
      .ks-document-viewer .modal-body.ks-document .ks-pages ul {
        padding: 0;
        list-style: none; }
        .ks-document-viewer .modal-body.ks-document .ks-pages ul .ks-page {
          margin-bottom: 60px; }
          .ks-document-viewer .modal-body.ks-document .ks-pages ul .ks-page.ks-portrait .ks-full-page {
            margin: 30px auto;
            display: block;
            background: #fff;
            width: 70%;
            height: 1000px;
            -webkit-box-shadow: 0 2px 10px 0;
                    box-shadow: 0 2px 10px 0; }
          .ks-document-viewer .modal-body.ks-document .ks-pages ul .ks-page.ks-landscape .ks-full-page {
            margin: 30px auto;
            display: block;
            background: #fff;
            width: 90%;
            height: 545px;
            -webkit-box-shadow: 0 2px 10px 0 #e6e6e6;
                    box-shadow: 0 2px 10px 0 #e6e6e6; }
        .ks-document-viewer .modal-body.ks-document .ks-pages ul .ks-page-number {
          display: block;
          text-align: center;
          color: #333;
          font-size: 12px;
          margin-top: 8px; }

.ks-document-viewer.ks-audio .modal-dialog {
  width: 364px;
  height: 165px; }

.ks-document-viewer.ks-audio .modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .ks-document-viewer.ks-audio .modal-header > .modal-title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .ks-document-viewer.ks-audio .modal-header > .ks-controls,
  .ks-document-viewer.ks-audio .modal-header > .ks-extra-controls {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 10px; }

.ks-document-viewer.ks-audio .modal-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  padding: 15px 20px;
  background: #fff;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .ks-document-viewer.ks-audio .modal-body > .ks-control {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
            border-radius: 18px;
    border: solid 1px #c4cbe1;
    color: #25628F;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    margin-right: 15px;
    cursor: pointer; }
    .ks-document-viewer.ks-audio .modal-body > .ks-control > span {
      position: relative;
      left: 2px; }
  .ks-document-viewer.ks-audio .modal-body > .ks-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-header {
      margin-bottom: 10px; }
      .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-header > .ks-album-name {
        margin-bottom: 2px; }
        .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-header > .ks-album-name > span {
          color: #858585; }
      .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-header > .ks-song-name {
        font-weight: 500; }
    .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-body > .progress {
      margin-bottom: 10px; }
    .ks-document-viewer.ks-audio .modal-body > .ks-info > .ks-body > .ks-time {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 10px; }

@media screen and (max-height: 1100px) {
  .ks-document-viewer .modal-dialog {
    width: 96%; }
    .ks-document-viewer .modal-dialog .modal-body.ks-document .ks-pages ul .ks-page.ks-portrait .ks-full-page {
      width: 90%; } }

@media screen and (max-width: 780px) {
  .ks-document-viewer .modal-dialog {
    width: 96%;
    height: 97%; }
    .ks-document-viewer .modal-dialog .modal-header {
      height: auto; }
    .ks-document-viewer .modal-dialog .modal-body .ks-image-content {
      padding: 0; }
    .ks-document-viewer .modal-dialog .modal-body.ks-document > .ks-thumbs {
      display: none; } }

@media screen and (max-height: 730px) {
  .ks-document-viewer .modal-header > .ks-controls > .btn {
    margin-top: 5px; } }

@media screen and (max-height: 662px) {
  .ks-document-viewer .modal-body.ks-document {
    height: 540px; } }
